body
{
    margin : 0px;
}
html
{
    scroll-behavior: smooth;;
}
.navbar
{
    padding: 5px;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
    align-items: center;
    align-content: center;
    background-color: #75162700;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: 0.8s;
}
.navbar a
{
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
}
.navbar.scroll
{
    background-color: white;
}
.navbar.scroll a
{
    color: black;
}
.Home
{
    background-image: url("/Images/KeyBoard.jpg");
    background-size: cover;
    height: 100vh;
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeH1
{
    font-family:'Times New Roman', Times, serif;
    /* color: white; */
    color: lightcyan;
    font-size: 40px;
}
.About
{
    height: 95vh;
    /* padding: 10rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp
{
    width: 450px;
}
.dp img
{
    height: 350px;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dp img:hover
{
    height: 360px;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 255, 0.255);
}
.myInfo
{
    display: flex;
    width: 700px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* padding-left: 5px; */
}
.myInfo h1
{
    font-size: 40px;
}
.myInfo p
{
    font-size: x-large;
}
.Education
{
    height: 95vh;
}
.Skills
{
    height: 95vh;
}
/* .Contact
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
} */
.popup.Home
{
    filter: blur(5px) brightness(.7);
}
.form
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 420px;
    width : 400px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    /* background-color: #75162700; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
.form h2
{
    margin-bottom: 20px;
    font-size: 27px;
    transform: translateX(32%);
}
.form input
{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.submitbtn
{
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(245, 129, 179);
    margin-top: 20px;
}
.submitbtn:hover
{
    filter:brightness(0.9);
}
.timesIcon
{
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
}
.timesIcon:hover
{
    color: rgb(245, 129, 179);
}
.timesIcon .close
{
    font-size : 25px;
}
.popup.form
{
    visibility: hidden;
}
.contactIcons
{
    display: flex;
    margin-top: 25px;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
}
.linkedin:hover
{
    color: rgb(10, 102, 194);
}
.instagram:hover
{
    color: rgb(228, 64, 95);
}
.disableScroll
{
    height: 100%;
    overflow: hidden;
}